- model_class = DevStatus
.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        = "DevStatus Details"
    .panel-body
      .row-fluid
        .col-xs-12.col-md-6
          %p
            %strong= "Dev ID:"
            %br
            = @dev_status.id
        .col-xs-12.col-md-6
          %p
            %strong= "Something else:"
            %br
            something else