.container
  %table.table.table-striped.sortable{"data-provides" => "rowlink"}
    %thead
      %tr
        %th= sortable 'dev_id', "Dev ID"
        
    %tbody
      - @devices.each do |device|
        %tr
          %td= link_to device.id, device
          
  = paginate @devices
            