/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= stub twbs-variables
 *= require twbs
 *= require_tree .
 *= require_self
 */

.sortable th .current {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
/*  background-color: #C0C0C0;*/
/*  text-decoration:underline;*/
  color: #B7410E;
  border-bottom: 3px solid #B7410E;
}
.sortable th .asc {
  background-image: url(up_arrow.gif);
}

.sortable th .desc {
  background-image: url(down_arrow.gif);
}

/* Start Devices Beacon
********************************** */
.beacon {
  position: relative;
  height: 20px;
  display: inline-block;
}

.beacon .dot {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #80002d;
  border-radius: 10px;
  box-shadow: 0 0 9px #666;
  -moz-box-shadow: 0 0 9px #666;
  -webkit-box-shadow: 0 0 9px #666;
  border: 3px solid transparent;
  z-index: 10;
}

.beacon .dot.pulse {
  -webkit-animation: beacon-dot-pulse 1s ease-out;
  -moz-animation: beacon-dot-pulse 1s ease-out;
  animation: beacon-dot-pulse 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

@-moz-keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

@keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

.beacon .ring {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 0;
  height: 0;
  border-radius: 3px;
  border: 3px solid #80002d;
  z-index: 5;
}

.beacon .ring.pulse {
  -webkit-animation: beacon-ring-pulse 1s;
  -moz-animation: beacon-ring-pulse 1s;
  animation: beacon-ring-pulse 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      -webkit-transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 0;
      left: 4px;
      -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      -moz-transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 2px;
      left: 7px;
      -moz-transform: scale(1.6);
  }
}

@keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 0;
      left: 5px;
      transform: scale(1.5);
  }
}
/* End Devices Beacon
********************************** */